# ignore all object and module files, ramses exec
*.o
*.mod
project/ramses/bin_unbinding/ramses3d-mladen
project/ramses/bin_dice/ramses3d-dice
project/ramses/bin_clean/ramses3d-clean
project/ramses/bin_unbinding/ramses3d-unbinding
project/ramses/bin_unbinding_dice/ramses3d-unbinding-dice
ramses3d-merger
ramses3d-merger-dice
make_mergertree
a.out
*.pyc
*__genmod.f90
write_gitinfo.f90
write_patch.f90
write_makefile.f90

project/ramses/bin_dice_nompi/ramses3d-merger-dice-nompi
project/ramses/bin_unbinding/ramses3d-unbinding-peakpos
project/ramses/bitbucket-pipelines.yml

# directories
/scripts/__pycache__
/scripts/.idea
/exec/run
/exec/files
/exec/
/backup/
/src/ 
/files/
/scripts/report/
/scripts/unb/
/results/backup
/results/daint

# latex stuff
*.zip
*.gz
*.aux
*.toc
*.out
*.log
*.bbl
*.bcf
*.run.xml
*blx.bib
*.blg
paper/main.pdf
